:root {
    --dark-color: #393939;
    --dark-hover-color: #2a2a2a;
    --light-color: #eee;
}

.course-parent {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 75vw;
    padding: 5rem 0;
    justify-content: center;
}

.lesson-parent p {
    max-width: 15rem;
}
