:root {

}

html,body {
      margin: 0;
      padding: 0;
}

select {
      width: 7rem;
      height: 2rem;
      font-size: 1.15rem;
}

#app {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100vh;
}

.quiz-selector {
      display: flex;
      flex-direction: row;
      gap: .5rem;
      justify-content: center;
}

.quiz-content {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      align-items: center;
}

#target-character {
      font-size: 56px;
}

#user-input {
      width: 12rem;
      height: 1.5rem;
      border-radius: 5px;
      border: 1px solid black;
}